<ion-content fullscreen>
<app-header [title]="title"></app-header>

<div class="container">
  <div class="card">
    
    <div class="front side">
      <h1 class="logo">Hrishi</h1>
    </div>
    
    <div class="back side">
      <h3 class="name">Hrishi</h3>
      <div>Front-end developer</div>      
      <div class="info">
        <p><span class="property">Email: </span>hrishikesh.potdar91@gmail.com</p>
        <p><span class="property">Twitter: </span>@rxjshi</p>
        <p><span class="property">Phone: </span>(682) 234-2481</p>
        <p><span class="property">Website: </span>hrishi.live</p>
      </div>
    </div>
    
  </div>
</div>
</ion-content>
